.pricecard {
  padding: 20px 40px;
  border: 2px solid #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.price_btn {
  border: 1px solid gray;
  border-radius: 30px;
  padding: 15px 20px;
  text-align: center;
  background-color: transparent;
}

.price_btn:hover {
  background-color: #E93A7D;
}

.price_display {
  display: flex;
}

.price_display span {
  font-size: 10px;
  margin-top: 30px;
  padding-left: 5px;
}

.list_container {
  padding-left: -20px;
}

@media screen and (min-width: 800px) {
  .pricecard {
    width: 200px;
  }
}
