.works_page {
  margin: 0;
  min-height: 100vh;
  background-color: #2f1893;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 800px) {
  .works_container {
    padding: 20px 0;
    width: 970px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.works_title {
  display: flex;
  justify-content: space-between;
}

.works_cards_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.works_title h1 {
  font-size: 42px;
}

.works_btn_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.works_btn {
  border: 1px solid gray;
  border-radius: 30px;
  padding: 15px 20px;
  text-align: center;
  background-color: transparent;
  font-size: 16px;
}
