.inputs_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  padding: 50px 80px;
}

.signup_input_container {
  width: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

.signup_input_container span {
  color: red;
  font-size: 12px;
  font-weight: bold;
}

.signup_input {
  width: 90%;
  padding: 15px;
  border-radius: 30px;
  border: solid 2px #ebeaed;
}

.signup_btn {
  width: 100%;
  padding: 15px;
  background-color: #1da1f2;
}

.divider {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #ebeaed;
  text-align: center;
}

.divider::before,
.divider::after {
  flex: 1;
  content: "";
  padding: 1px;
  background-color: #ebeaed;
  margin: 5px;
}

.home_btn {
  width: 100%;
  padding: 15px;
  background-color: #25dac5;
}
