.messageBar_container {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #593e7c;
  /* border-top: solid 1px rgb(148, 148, 148); */
  padding: 0 20px;
  gap: 20px;
}

.input_container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-radius: 8px;
  border: solid 1px rgb(148, 148, 148);
}

.message_input {
  width: 100%;
  padding: 15px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: white;
}

.attach_btn {
  background: transparent;
  border: none;
  padding: 10px;
  text-align: center;
  color: gray;
  font-size: 20px;
}

.attach_btn:hover {
  color: white;
}

.attach_btn:focus {
  color: white;
}
